/* Effect 5: 3d bar bottom */
.block {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 12px;
	background: #ed4e6e;
	-webkit-transform: translate3d(-53%, 0, 0);
	transform: translate3d(-53%, 0, 0);
	pointer-events: none;
	-webkit-transition: -webkit-transform 200ms ease-in, bottom 0.3s 2s;
	transition: transform 200ms ease-in, bottom 0.3s 2s;
}

.block::before,
.block::after {
	position: absolute;
	content: '';
}

.block::before {
	bottom: 100%;
	left: -10%;
	width: 110%;
	height: 6px;
	background: #fb738f;
	-webkit-transform: skew(-45deg);
	transform: skew(-45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.block::after {
	top: 0;
	left: 100%;
	width: 6px;
	height: 100%;
	background: #d23d5b;
	-webkit-transform: skew(0,-45deg);
	transform: skew(0,-45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.animate {
	bottom: -20px;
	z-index: 100;
	
/* 	-webkit-transition: -webkit-transform 1s ease-in, bottom 0.3s 1.7s; */
	-webkit-transition: -webkit-transform 1s ease-in, bottom 0.3s 2s;

/* 	transition: transform 1s ease-in, bottom 0.3s 1.7s; */
	transition: transform 1s ease-in, bottom 0.3s 2s;
	
/* 	-webkit-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0); */
}






.container {
	position: relative;
	-webkit-filter: blur(10px);
	width: 110%;
	height: 110%;
	z-index: 2;
}

.container2 {
	position: relative;
	-webkit-filter: blur(20px);
	width: 110%;
	height: 110%;
	z-index: 1;
}

.hex-wrapper {
    position: absolute;
	z-index: 5;
	-webkit-transition: -webkit-transform 50ms ease-in-out;
}

.hex {
    margin-top: 70px;
    width: 208px;
    height: 120px;
    background: #6C6;
	
	-webkit-transform: rotateX(80deg) rotateY(40deg) translateY(0);
	-webkit-transition: -webkit-transform 5s ease-in-out;

}
.hex:before, .hex:after {
    content:"";
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
}
.hex:before {
    top: -59px;
    border-bottom: 60px solid #6C6;
}
.hex:after {
    bottom: -59px;
    border-top: 60px solid #6C6;
}